@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 70px;
  background-color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav__container {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  letter-spacing: 0.205rem;
  text-transform: uppercase;
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  line-height: 4.375rem;
}
@media all and (min-width: 960px) {
  .nav__logo {
    font-weight: 300;
  }
}
.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}
@media all and (max-width: 959px) {
  .nav__menu {
    display: none;
  }
}
.nav__item {
  color: #a5a5a5;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item::after {
  content: "";
  display: block;
  background: #08a6e4;
  width: 95%;
  height: 3px;
  margin-top: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
@media all and (max-width: 959px) {
  .nav__item::after {
    width: 75px;
  }
}
.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  color: black;
}
.nav__input:checked + .nav__menu {
  position: fixed;
  top: 70px;
  bottom: 0;
  width: 100%;
  height: 175px;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0 5%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
.nav__input {
  display: none;
}
.nav__label {
  display: block;
  cursor: pointer;
}
@media all and (min-width: 960px) {
  .nav__label {
    display: none;
  }
}

.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
}
.section--one {
  overflow: hidden;
}
.section__title--one {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.5625rem;
  padding-top: 120px;
}
@media all and (min-width: 960px) {
  .section__title--one {
    font-size: 3.0625rem;
    line-height: 3.5625rem;
    padding-top: 200px;
  }
}
.section__paragraph--one {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 144%;
  padding: 20px 10% 0 10%;
}
.section__img {
  margin: 0 -9999% 0 -9999%;
  max-width: 100%;
  min-width: 600px;
  padding-top: 50px;
}
.section__subtitle--one {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 117%;
  padding: 15px 10% 0 10%;
}
@media all and (min-width: 960px) {
  .section__subtitle--one {
    padding: 50px 10% 0 10%;
    font-weight: 400;
    font-size: 2.25rem;
  }
}
@media all and (min-width: 960px) {
  .section__iconList {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 100px 0;
    justify-content: space-between;
  }
}
.section__icon {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  position: relative;
  padding: 25px 0 0 0;
  z-index: 5;
}
@media all and (min-width: 960px) {
  .section__icon {
    min-width: 150px;
  }
}
.section__icon img {
  position: absolute;
  left: 50%;
  margin-top: 5px;
}
@media all and (min-width: 960px) {
  .section__icon img {
    position: relative;
    left: 15%;
    margin-bottom: 10px;
  }
}
.section__icon h3 {
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 5.96px;
  line-height: 120%;
  padding-top: 1rem;
}
.section__icon p {
  font-weight: 400;
  font-size: 1.0625rem;
  color: #a5a5a5;
  line-height: 118%;
  padding-top: 1rem;
}
.section__icon--green {
  padding-bottom: 50px;
}
.section .circleOne {
  display: inline-block;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  text-align: center;
}
@media all and (min-width: 960px) {
  .section .circleOne {
    position: absolute;
    right: 30%;
    z-index: -10;
  }
}
.section .circleOne--red {
  background-color: #fb3b64;
}
.section .circleOne--blue {
  background-color: #08a6e4;
}
.section .circleOne--green {
  background-color: #55dfb4;
}
.section .eye {
  margin-top: 13px !important;
}
@media all and (min-width: 960px) {
  .section .eye {
    margin-bottom: 10px !important;
  }
}

.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
}
.section--two {
  background-color: #f7f7f7;
  padding-top: 2.625rem;
}
@media all and (min-width: 960px) {
  .section--two {
    padding-top: 6.5625rem;
  }
}
.section__card {
  background-color: #ffffff;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  margin-bottom: 2.625rem;
}
@media all and (min-width: 960px) {
  .section__card {
    width: 75%;
  }
}
.section__card--red h3, .section__card--blue h3, .section__card--green h3 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  padding: 25px 0 0 20px;
}
@media all and (min-width: 960px) {
  .section__card--red h3, .section__card--blue h3, .section__card--green h3 {
    max-width: 80%;
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
}
.section__card--red p, .section__card--blue p, .section__card--green p {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding: 20px 20px 0 20px;
}
@media all and (min-width: 960px) {
  .section__card--red p, .section__card--blue p, .section__card--green p {
    max-width: 80%;
    font-size: 1rem;
    line-height: 22px;
    position: relative;
  }
}
@media all and (min-width: 960px) {
  .section__card--red p:before, .section__card--blue p:before, .section__card--green p:before {
    content: "";
    position: absolute;
    width: 65%;
    height: 1px;
    bottom: 0;
  }
}
.section__card--red {
  min-height: 370px;
}
@media all and (min-width: 960px) {
  .section__card--red {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .section__card--red div {
    width: 50%;
  }
}
.section__card--red img {
  position: relative;
  z-index: 90;
}
@media all and (min-width: 960px) {
  .section__card--red h3 {
    padding: 25px 0 0 15%;
  }
}
@media all and (min-width: 960px) {
  .section__card--red p {
    padding: 30px 21px 50px 15%;
  }
}
@media all and (min-width: 960px) {
  .section__card--red p:before {
    border-bottom: 3px solid #fb3b64;
  }
}
.section__card--blue {
  min-height: 370px;
}
@media all and (min-width: 960px) {
  .section__card--blue {
    display: flex;
    align-items: center;
    height: 370px;
  }
  .section__card--blue div {
    width: 50%;
  }
}
.section__card--blue img {
  position: relative;
  z-index: 90;
}
@media all and (min-width: 960px) {
  .section__card--blue h3 {
    padding: 25px 15% 0 20px;
  }
}
@media all and (min-width: 960px) {
  .section__card--blue p {
    padding: 30px 5% 50px 21px;
  }
}
@media all and (min-width: 960px) {
  .section__card--blue p:before {
    border-bottom: 3px solid #08a6e4;
  }
}
.section__card--green {
  height: 298px;
  margin-bottom: 0;
}
@media all and (min-width: 960px) {
  .section__card--green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 370px;
    min-width: 40%;
    margin: 0;
  }
}
@media all and (min-width: 960px) {
  .section__card--green h3 {
    padding: 0 0 0 10%;
  }
}
@media all and (min-width: 960px) {
  .section__card--green p {
    padding: 30px 21px 50px 10%;
  }
}
@media all and (min-width: 960px) {
  .section__card--green p:before {
    border-bottom: 3px solid #55dfb4;
  }
}
@media all and (min-width: 960px) {
  .section .sectionThree {
    display: flex;
    justify-content: space-between;
    margin: 0 12.5% 0 12.5%;
  }
}
.section .circleTwo {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.section .circleTwo--red {
  background-color: #fb3b64;
}
.section .circleTwo--red div {
  position: relative;
}
.section .circleTwo--red--big {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 41px;
  transform: rotate(-45deg);
  left: 51%;
  margin-top: 15px;
}
@media all and (min-width: 960px) {
  .section .circleTwo--red--big {
    width: 180px;
    height: 180px;
    margin-top: -30px;
    margin-left: 10%;
  }
}
.section .circleTwo--blue {
  background-color: #08a6e4;
}
.section .circleTwo--blue div {
  position: relative;
}
.section .circleTwo--blue--big {
  position: absolute;
  width: 131px;
  height: 131px;
  margin-top: 12px;
}
@media all and (min-width: 960px) {
  .section .circleTwo--blue--big {
    width: 320px;
    height: 320px;
    margin-top: -15px;
    margin-left: 0%;
  }
}
.section .circleTwo--green {
  background-color: #55dfb4;
}

.rectangle {
  display: inline-block;
  position: relative;
  width: 85%;
  top: -3px;
  margin-bottom: 42px;
  height: 195px;
  background-color: #55dfb4;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
@media all and (min-width: 960px) {
  .rectangle {
    position: static;
    min-width: 30%;
    max-width: 40%;
    height: 370px;
    margin: 0 0 105px 5%;
    top: 0;
  }
}
.rectangle .img--green {
  position: relative;
  left: -5%;
  padding-top: 30px;
}
@media all and (min-width: 960px) {
  .rectangle .img--green {
    left: -20px;
    margin-top: 0px;
    padding-top: 25%;
  }
}

.bigimg {
  display: none;
}
@media all and (min-width: 960px) {
  .bigimg--red {
    display: block;
    width: 300px;
    height: 185px;
    margin-left: 10%;
  }
}
@media all and (min-width: 960px) {
  .bigimg--blue {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 10%;
  }
}

.smallimg--red {
  padding-top: 37px;
}
.smallimg--blue {
  padding-top: 19px;
}
@media all and (min-width: 960px) {
  .smallimg {
    display: none;
  }
}

.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
}
.section__title--three {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.5625rem;
  padding-top: 53px;
}
@media all and (min-width: 960px) {
  .section__title--three {
    font-size: 2.25rem;
    line-height: 2.625rem;
    padding-top: 130px;
  }
}
@media all and (min-width: 960px) {
  .section .pricesList {
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10% 0 10%;
    gap: 1%;
  }
}
.section__price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 18px;
  margin: auto;
}
@media all and (min-width: 960px) {
  .section__price {
    flex-direction: column;
  }
}
.section__price--red, .section__price--blue, .section__price--green {
  margin-top: 14px;
}
.section__price--red h1, .section__price--blue h1, .section__price--green h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
@media all and (min-width: 960px) {
  .section__price--red h1, .section__price--blue h1, .section__price--green h1 {
    padding-top: 40px;
  }
}
.section__price--red h2, .section__price--blue h2, .section__price--green h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.section__price--red .list, .section__price--blue .list, .section__price--green .list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0 50px 0;
}
.section__price--red .list div, .section__price--blue .list div, .section__price--green .list div {
  display: flex;
  vertical-align: middle;
}
@media all and (min-width: 960px) {
  .section__price--red .list div, .section__price--blue .list div, .section__price--green .list div {
    justify-content: center;
  }
}
.section__price--red .list div img, .section__price--blue .list div img, .section__price--green .list div img {
  height: 0.6875rem;
  width: 0.6875rem;
  margin: auto 10px auto 0;
}
.section__price--red .list div p, .section__price--blue .list div p, .section__price--green .list div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
}
@media all and (min-width: 960px) {
  .section__price--red:hover {
    width: 90%;
    height: 277px;
    min-width: 350px;
    min-height: 500px;
    box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.29);
  }
}
@media all and (min-width: 960px) {
  .section__price--blue:hover {
    width: 90%;
    height: 277px;
    min-width: 350px;
    min-height: 500px;
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  }
}
@media all and (min-width: 960px) {
  .section__price--green:hover {
    width: 90%;
    height: 277px;
    min-width: 350px;
    min-height: 500px;
    box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.29);
  }
}
.section__price--red {
  width: 80%;
  height: 251px;
  border: 1px solid #fb3b64;
  transition: all 0.2s ease-in-out;
}
@media all and (min-width: 960px) {
  .section__price--red {
    min-width: 300px;
    min-height: 460px;
  }
}
.section__price--red h2 {
  color: #fb3b64;
}
.section__price--blue {
  width: 80%;
  height: 251px;
  border: 1px solid #07ace6;
  transition: all 0.2s ease-in-out;
}
@media all and (min-width: 960px) {
  .section__price--blue {
    min-width: 300px;
    min-height: 460px;
  }
}
.section__price--blue h2 {
  color: #07ace6;
}
.section__price--blue p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.section__price--green {
  width: 80%;
  height: 251px;
  border: 1px solid #55dfb4;
  transition: all 0.2s ease-in-out;
}
@media all and (min-width: 960px) {
  .section__price--green {
    min-width: 300px;
    min-height: 460px;
  }
}
.section__price--green h2 {
  color: #55dfb4;
}
.section__price--green p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
}
.section--four {
  width: 85%;
  margin: auto;
  text-align: left;
}
@media all and (min-width: 960px) {
  .section--four {
    max-width: 60%;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .section--four > div {
    min-width: 50%;
  }
}
.section__title--four {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  padding-top: 50px;
}
@media all and (min-width: 960px) {
  .section__title--four {
    font-size: 3.0625rem;
    line-height: 3.625rem;
    padding-right: 30px;
  }
}
.section__paragraph--four {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  padding: 5px 0 0 0;
}
@media all and (min-width: 960px) {
  .section__paragraph--four {
    padding-right: 30px;
  }
}
@media all and (min-width: 960px) {
  .section__email {
    display: inline-block;
  }
}
.section__email img {
  margin-top: 38px;
  margin-right: 5px;
  height: 22px;
  width: 23px;
  vertical-align: bottom;
}
.section__email p {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #a5a5a5;
}
@media all and (min-width: 960px) {
  .section__email p {
    padding: 0 20px 0 0;
  }
}
@media all and (min-width: 960px) {
  .section__phone {
    display: inline-block;
    padding: 0 30px 0 0;
  }
}
.section__phone img {
  margin-top: 17px;
  margin-right: 5px;
  height: 22px;
  width: 23px;
  vertical-align: bottom;
}
.section__phone p {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #a5a5a5;
}
.section__form--name {
  display: block;
  padding-top: 56px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  color: #08a6e4;
}
.section__form--inputName {
  width: 100%;
  border: none;
  border-bottom: 1px solid #95989a;
  line-height: 40px;
  cursor: pointer;
}
.section__form--email {
  display: block;
  padding-top: 42px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  color: #08a6e4;
}
.section__form--inputEmail {
  width: 100%;
  border: none;
  border-bottom: 1px solid #95989a;
  line-height: 40px;
  cursor: pointer;
}
.section__consent {
  margin-top: 31px;
}
.section__consent--input {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid red;
  cursor: pointer;
}
.section__consent--text {
  display: inline-block;
  width: 85%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
}

.footer {
  width: 100%;
  height: 90px;
  left: 0%;
  top: 0%;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
}
.footer__title {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  font-style: normal;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 1.875rem;
}
.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.9375rem;
  color: #a5a5a5;
}
.footer__logo {
  padding-left: 10px;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.btn--blue {
  display: inline-block;
  border-style: none;
  background-color: #07ace6;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  margin-top: 30px;
}
.btn--blue--inline {
  margin-top: 0px;
  margin-left: 0;
  position: relative;
  top: -25px;
}
.btn--blue--right {
  position: relative;
  float: right;
  margin-bottom: 44px;
}
.btn--red {
  z-index: 10;
  display: inline-block;
  border-style: none;
  background-color: #eb476e;
}
.btn--red--inline {
  margin-left: 0;
  position: relative;
  top: -25px;
}
.btn--green {
  z-index: 10;
  display: inline-block;
  border-style: none;
  background-color: #55dfb4;
}
.btn--green--inline {
  margin-left: 0;
  position: relative;
  top: -25px;
}
.btn--big {
  height: 67px;
  line-height: 138%;
  padding: 21px 91px 21px 91px;
  border-radius: 40px;
  font-size: 16px;
  box-shadow: none;
}
.btn--small {
  height: 50px;
  line-height: 18px;
  padding: 16px 56px;
  border-radius: 23px;
  font-size: 13px;
}
.btn--medium {
  height: 57px;
  line-height: 18px;
  padding: 20px 97px;
  border-radius: 35px;
  font-size: 13px;
}

.progressBar {
  position: relative;
  width: 0%;
  height: 10px;
  background-image: linear-gradient(to right, #08a6e4, #00b7e4, #00c7da, #00d4c9, #55dfb4);
}

.backToTop {
  position: fixed;
  bottom: 65px;
  right: 10px;
  height: 50px;
  width: 50px;
  place-items: center;
  border-radius: 50%;
  font-size: larger;
  font-weight: 900;
  display: none;
  background-image: linear-gradient(to right, #08a6e4, #00b7e4, #00c7da, #00d4c9, #55dfb4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-style: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
