@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// Styles for the Contact section
.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
  &--four {
    width: 85%;
    margin: auto;
    text-align: left;
    @include mq.desktop {
      max-width: 60%;
      min-width: 50%;
      display: flex;
      justify-content: space-between;
      & > div {
        min-width: 50%;
      }
    }
  }

  &__title {
    &--four {
      font-family: $raleway-font;
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.9375rem;
      padding-top: 50px;
      @include mq.desktop {
        font-size: 3.0625rem;
        line-height: 3.625rem;
        padding-right: 30px;
      }
    }
  }
  &__paragraph {
    &--four {
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.375rem;
      padding: 5px 0 0 0;
      @include mq.desktop {
        padding-right: 30px;
      }
    }
  }
  &__email {
    @include mq.desktop {
      display: inline-block;
    }
    & img {
      margin-top: 38px;
      margin-right: 5px;
      height: 22px;
      width: 23px;
      vertical-align: bottom;
    }
    & p {
      display: inline-block;
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.375rem;
      color: $light-grey-color;
      @include mq.desktop {
        padding: 0 20px 0 0;
      }
    }
  }
  &__phone {
    @include mq.desktop {
      display: inline-block;
      padding: 0 30px 0 0;
    }
    & img {
      margin-top: 17px;
      margin-right: 5px;
      height: 22px;
      width: 23px;
      vertical-align: bottom;
    }
    & p {
      display: inline-block;
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.375rem;
      color: $light-grey-color;
    }
  }
  &__form {
    &--name {
      display: block;
      padding-top: 56px;
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 0.9375rem;
      color: $main-blue-color;
    }
    &--inputName {
      width: 100%;
      border: none;
      border-bottom: 1px solid #95989a;
      line-height: 40px;
      outline: none;
      cursor: pointer;
      @include mq.desktop {
        // max-width: 60%;
      }
    }
    &--email {
      display: block;
      padding-top: 42px;
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6875rem;
      line-height: 0.9375rem;
      color: $main-blue-color;
    }
    &--inputEmail {
      width: 100%;
      border: none;
      border-bottom: 1px solid #95989a;
      line-height: 40px;
      outline: none;
      cursor: pointer;
      @include mq.desktop {
        // max-width: 60%;
      }
    }
  }
  &__consent {
    margin-top: 31px;
    &--input {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      vertical-align: top;
      border: 1px solid red;
      cursor: pointer;
    }
    &--text {
      display: inline-block;
      width: 85%;
      font-family: $open-sans-font;
      font-style: normal;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1rem;
      color: #707070;
    }
  }
}
