@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// Styles for the Prices section
.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;

  &__title {
    &--three {
      font-family: $raleway-font;
      font-style: normal;
      font-weight: 400;
      font-size: 2.1875rem;
      line-height: 2.5625rem;
      padding-top: 53px;

      @include mq.desktop {
        font-size: 2.25rem;
        line-height: 2.625rem;
        padding-top: 130px;
      }
    }
  }

  &__currency {
    font-family: $open-sans-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 144%;
    padding: 20px 10% 0 10%;
    margin-bottom: 20px;

    @include mq.desktop {
      margin-bottom: 0px;
    }

    &--dolar,
    &--euro,
    &--pound {
      cursor: pointer;
      height: 40px;
      width: 10px;
      line-height: 20px;
      padding: 8px 20px 8px 10px;
      margin-top: 10px;
      margin-right: 5px;
      border-radius: 10px;
      font-size: 1.1rem;
      border: 1px solid $main-blue-color;
      background-color: white;
    }

    &--dolar:hover,
    &--euro:hover,
    &--pound:hover {
      box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
    }

    & .active {
      background-color: rgba(7, 172, 230, 0.29);
    }
  }

  @include mq.desktop {
    .pricesList {
      min-height: 700px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 10% 0 10%;
      gap: 1%;
    }
  }

  &__price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 18px;
    margin: auto;

    @include mq.desktop {
      flex-direction: column;
    }

    &--red,
    &--blue,
    &--green {
      margin-top: 14px;

      & h1 {
        font-family: $raleway-font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;

        @include mq.desktop {
          padding-top: 40px;
        }
      }

      & h2 {
        font-family: $open-sans-font;
        font-style: normal;
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 4rem;
      }

      & .list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 25px 0 50px 0;

        & div {
          display: flex;
          vertical-align: middle;

          @include mq.desktop {
            justify-content: center;
          }

          & img {
            height: 0.6875rem;
            width: 0.6875rem;
            margin: auto 10px auto 0;
          }

          & p {
            font-family: $open-sans-font;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.1875rem;
          }
        }
      }
    }

    &--red:hover {
      @include mq.desktop {
        width: 90%;
        height: 277px;
        min-width: 350px;
        min-height: 500px;
        box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.29);

      }
    }

    &--blue:hover {
      @include mq.desktop {
        width: 90%;
        height: 277px;
        min-width: 350px;
        min-height: 500px;
        box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
      }
    }

    &--green:hover {
      @include mq.desktop {
        width: 90%;
        height: 277px;
        min-width: 350px;
        min-height: 500px;
        box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.29);
      }
    }

    &--red {
      width: 80%;
      height: 251px;
      border: 1px solid $main-red-color;
      transition: all 0.2s ease-in-out;

      @include mq.desktop {
        min-width: 300px;
        min-height: 460px;
      }

      & h2 {
        color: $main-red-color;
      }
    }

    &--blue {
      width: 80%;
      height: 251px;
      border: 1px solid $secondary-blue-color;
      transition: all 0.2s ease-in-out;

      @include mq.desktop {
        min-width: 300px;
        min-height: 460px;
      }

      & h2 {
        color: $secondary-blue-color;
      }

      & p {
        font-family: $raleway-font;
        font-style: normal;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }

    &--green {
      width: 80%;
      height: 251px;
      border: 1px solid $main-green-color;
      transition: all 0.2s ease-in-out;

      @include mq.desktop {
        min-width: 300px;
        min-height: 460px;
      }

      & h2 {
        color: $main-green-color;
      }

      & p {
        font-family: $raleway-font;
        font-style: normal;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
    }
  }
}