@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// Styles for the Benefits cards section
.section {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
  &--two {
    background-color: $light-grey-background-color;
    padding-top: 2.625rem;
    @include mq.desktop {
      padding-top: 6.5625rem;
    }
  }

  &__card {
    background-color: $white-color;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    width: 85%;
    margin: auto;
    margin-bottom: 2.625rem;
    @include mq.desktop {
      width: 75%;
    }

    // Shared card styles
    &--red,
    &--blue,
    &--green {
      & h3 {
        text-align: left;
        font-family: $raleway-font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 2.1875rem;
        padding: 25px 0 0 20px;
        @include mq.desktop {
          max-width: 80%;
          font-size: 2.25rem;
          line-height: 2.625rem;
        }
      }
      & p {
        text-align: left;
        font-family: $open-sans-font;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        padding: 20px 20px 0 20px;
        @include mq.desktop {
          max-width: 80%;
          font-size: 1rem;
          line-height: 22px;
          // Position relative so that the underline can be placed correctly
          position: relative;
        }
      }
      p:before {
        @include mq.desktop {
          content: "";
          position: absolute;
          width: 65%;
          height: 1px;
          bottom: 0;
        }
      }
    }

    &--red {
      min-height: 370px;
      @include mq.desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        & div {
          width: 50%;
        }
      }
      & img {
        position: relative;
        z-index: 90;
      }
      & h3 {
        @include mq.desktop {
          padding: 25px 0 0 15%;
        }
      }
      & p {
        @include mq.desktop {
          padding: 30px 21px 50px 15%;
        }
      }
      p:before {
        @include mq.desktop {
          border-bottom: 3px solid $main-red-color;
        }
      }
    }
    &--blue {
      min-height: 370px;
      @include mq.desktop {
        display: flex;
        align-items: center;
        height: 370px;
        & div {
          width: 50%;
        }
      }
      & img {
        position: relative;
        z-index: 90;
      }
      & h3 {
        @include mq.desktop {
          padding: 25px 15% 0 20px;
        }
      }
      & p {
        @include mq.desktop {
          padding: 30px 5% 50px 21px;
        }
      }
      p:before {
        @include mq.desktop {
          border-bottom: 3px solid $main-blue-color;
        }
      }
    }
    &--green {
      height: 298px;
      margin-bottom: 0;
      @include mq.desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 370px;
        min-width: 40%;
        margin: 0;
      }
      & h3 {
        @include mq.desktop {
          padding: 0 0 0 10%;
        }
      }
      & p {
        @include mq.desktop {
          padding: 30px 21px 50px 10%;
        }
      }
      p:before {
        @include mq.desktop {
          border-bottom: 3px solid $main-green-color;
        }
      }
    }
  }
  .sectionThree {
    @include mq.desktop {
      display: flex;
      justify-content: space-between;
      margin: 0 12.5% 0 12.5%;
    }
  }
  .circleTwo {
    display: inline-block;
    border-radius: 50%;
    text-align: center;

    &--red {
      background-color: $main-red-color;
      & div {
        position: relative;
      }
      &--big {
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 41px;
        transform: rotate(-45deg);
        left: 51%;
        margin-top: 15px;
        @include mq.desktop {
          width: 180px;
          height: 180px;
          margin-top: -30px;
          margin-left: 10%;
        }
      }
    }
    &--blue {
      background-color: $main-blue-color;
      & div {
        position: relative;
      }
      &--big {
        position: absolute;
        width: 131px;
        height: 131px;
        margin-top: 12px;
        @include mq.desktop {
          width: 320px;
          height: 320px;
          margin-top: -15px;
          margin-left: 0%;
        }
      }
    }
    &--green {
      background-color: $main-green-color;
    }
  }
}

.rectangle {
  display: inline-block;
  position: relative;
  width: 85%;
  top: -3px;
  margin-bottom: 42px;
  height: 195px;
  background-color: $main-green-color;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  @include mq.desktop {
    position: static;
    min-width: 30%;
    max-width: 40%;
    height: 370px;
    margin: 0 0 105px 5%;
    top: 0;
  }
  & .img--green {
    // Position is supposed to be absolute for this element... but I can position it much easier if relative??
    position: relative;
    left: -5%;
    padding-top: 30px;
    @include mq.desktop {
      left: -20px;
      margin-top: 0px;
      padding-top: 25%;
    }
  }
}
.bigimg {
  display: none;
  &--red {
    @include mq.desktop {
      display: block;
      width: 300px;
      height: 185px;
      margin-left: 10%;
    }
  }
  &--blue {
    @include mq.desktop {
      display: inline-block;
      width: 300px;
      height: 300px;
      margin-left: 10%;
    }
  }
}
.smallimg {
  &--red {
    padding-top: 37px;
  }
  &--blue {
    padding-top: 19px;
  }

  @include mq.desktop {
    display: none;
  }
}
