@import "../abstracts/variables";
@import "../base/typography";

.sectionOne {
  width: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
  &__title {
    font-family: $raleway-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    margin-top: 100px;
  }
  &__paragraph {
    font-family: $open-sans-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 5% 10% 0 10%;
  }
}
