// Colors
$main-blue-color: #08a6e4;
$secondary-blue-color: #07ace6;
$main-red-color: #fb3b64;
$secondary-red-color: #eb476e;
$main-green-color: #55dfb4;
$white-color: #ffffff;
$light-grey-color: #a5a5a5;
$light-grey-background-color: #f7f7f7;
